.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--background-color);
  background: var(--background-radial-gradient);
}

.list {
  padding: 0;
  margin: 0;
  min-width: 400px;
  column-count: auto;
}

.itemMenu {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
