:root {
  --box-bg-color-accent: white;
  --text-color--accent: white;
  --text-color: black;
  
  --name-main: green;
  --name-male: blue;
  --name-female: darkmagenta;

  --background-color:  rgb(243,243,245);
  --main-color: gold;
  --secondary-color: salmon;
  --shadows-color: rgba(0, 0, 0, 0.527);

  --background-linear-gradient: linear-gradient(170deg, rgba(243,243,245,1) 0%, rgba(154,177,209,1) 100%);
  --background-radial-gradient: radial-gradient(circle, rgba(243,243,245,1) 0%, rgba(154,177,209,1) 100%);
  
  --border-radius: 4px;
  --border-line: 2px solid hsla(0,0%,100%,.2);
}
