.name {
  font-size: 20px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.dialogBox {
  padding: 1rem 1rem 0 1rem;
  background: var(--background-linear-gradient);
  border-radius: var(--border-radius);
}

.portrait  {
  border-radius: var(--border-radius);
  border: var(--border-line);
}
.portrait img:hover {
  --webkit-transform: scale(1.10);
  transform: scale(1.10) ;
}

.text {
  color: var(--text-color);
  margin: 0;
}
.choicesBox {
  margin: auto;
  padding: 0;
  width: 70vw;
}

.choice {
  list-style-type: none;
  text-align: center;
}

.choice button {
  background: none;
  height: 3rem;
  width: 100%;
  border: solid 1px var(--box-bg-color-accent);
  cursor: pointer;
  color: var(--text-color);
}

.choice button:hover {
  background-color: var(--box-bg-color-accent);
  color: var(--text-color-accent);
}

.escapeMenu {
  background:var(--background-color);
  background:var(--background-radial-gradient)
}

.itemMenu {
  border-radius: var(--border-radius);
  border: var(--border-line);
  background-color: var(--box-bg-color-accent)
}

.escapeMenu .item {
  text-transform: uppercase;
  font-weight: bold;
}